<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping>
            <parcel_processing>
                <cod_reason_for_payment><![CDATA[{{firstname}} {{lastname}} #{{increment_id}}]]></cod_reason_for_payment>
                <packages backend_model="Netresearch\ShippingCore\Model\Config\Backend\PackageParams">[]</packages>
                <export_content_type>OTHER</export_content_type>
                <export_content_explanation>Commercial Goods</export_content_explanation>
            </parcel_processing>
            <batch_processing>
                <shipping_label>
                    <cron_order_status>pending,processing</cron_order_status>
                </shipping_label>
            </batch_processing>
        </shipping>
    </default>
</config>
