<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # service interface preferences -->
    <preference for="Netresearch\ShippingCore\Api\AdditionalFee\TaxConfigInterface" type="Netresearch\ShippingCore\Model\Config\TaxConfig"/>
    <preference for="Netresearch\ShippingCore\Api\Config\MapBoxConfigInterface" type="Netresearch\ShippingCore\Model\Config\MapBoxDummyConfig"/>
    <preference for="Netresearch\ShippingCore\Api\Config\ParcelProcessingConfigInterface" type="Netresearch\ShippingCore\Model\Config\ParcelProcessingConfig"/>
    <preference for="Netresearch\ShippingCore\Api\Config\ShippingConfigInterface" type="Netresearch\ShippingCore\Model\Config\ShippingConfig"/>
    <preference for="Netresearch\ShippingCore\Api\DeliveryLocation\SearchInterface" type="Netresearch\ShippingCore\Model\DeliveryLocation\Search"/>
    <preference for="Netresearch\ShippingCore\Api\LabelStatus\LabelStatusManagementInterface" type="Netresearch\ShippingCore\Model\LabelStatus\LabelStatusManagement"/>
    <preference for="Netresearch\ShippingCore\Api\PackagingPopup\RequestDataConverterInterface" type="Netresearch\ShippingCore\Model\PackagingPopup\RequestDataConverter"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\CollectRatesPipelineInterface" type="Netresearch\ShippingCore\Model\Pipeline\Rate\CollectRatesPipeline"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\CreateShipmentsPipelineInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\CreateShipmentsPipeline"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\RateResponseProcessorInterface" type="Netresearch\ShippingCore\Model\Pipeline\Rate\RateResponseProcessor"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\RequestTracksPipelineInterface" type="Netresearch\ShippingCore\Model\Pipeline\Track\RequestTracksPipeline"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\ShipmentRequest\RequestExtractorInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\RequestExtractor"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\ShipmentRequest\RequestExtractor\ServiceOptionReaderInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\RequestExtractor\ServiceOptionReader"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\ShipmentRequest\RequestModifierInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\RequestModifier"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\ShipmentRequest\RequestModifier\PackagingOptionReaderInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\RequestModifier\PackagingOptionReader"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\ShipmentRequest\RequestValidatorInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Validator\CompositeValidator"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\ShipmentResponseProcessorInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentResponseProcessor"/>
    <preference for="Netresearch\ShippingCore\Api\Pipeline\TrackResponseProcessorInterface" type="Netresearch\ShippingCore\Model\Pipeline\Track\TrackResponseProcessor"/>
    <preference for="Netresearch\ShippingCore\Api\Rate\ProxyCarrierFactoryInterface" type="Netresearch\ShippingCore\Model\Rate\Emulation\ProxyCarrierFactory"/>
    <preference for="Netresearch\ShippingCore\Api\Rate\RateRequestEmulationInterface" type="Netresearch\ShippingCore\Model\Rate\Emulation\RateRequestService"/>
    <preference for="Netresearch\ShippingCore\Api\ShipmentDate\CutOffTimeConverterInterface" type="Netresearch\ShippingCore\Model\ShipmentDate\CutOffTimeConverter"/>
    <preference for="Netresearch\ShippingCore\Api\ShipmentDate\ShipmentDateCalculatorInterface" type="Netresearch\ShippingCore\Model\ShipmentDate\ShipmentDateCalculator"/>
    <preference for="Netresearch\ShippingCore\Api\ShippingSettings\ArrayProcessor\ShippingSettingsProcessorInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\ArrayProcessor\CompositeShippingSettingsProcessor"/>
    <preference for="Netresearch\ShippingCore\Api\ShippingSettings\CheckoutManagementInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\CheckoutManagement"/>
    <preference for="Netresearch\ShippingCore\Api\ShippingSettings\GuestCheckoutManagementInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\GuestCheckoutManagement"/>
    <preference for="Netresearch\ShippingCore\Api\ShippingSettings\TypeProcessor\ShippingDataProcessorInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\CompositeShippingDataProcessor"/>
    <preference for="Netresearch\ShippingCore\Api\SplitAddress\RecipientStreetLoaderInterface" type="Netresearch\ShippingCore\Model\SplitAddress\RecipientStreetLoader"/>
    <preference for="Netresearch\ShippingCore\Api\SplitAddress\RecipientStreetRepositoryInterface" type="Netresearch\ShippingCore\Model\SplitAddress\RecipientStreetRepository"/>
    <preference for="Netresearch\ShippingCore\Api\Util\AssetUrlInterface" type="Netresearch\ShippingCore\Model\Util\AssetUrl"/>
    <preference for="Netresearch\ShippingCore\Api\Util\CountryCodeInterface" type="Netresearch\ShippingCore\Model\Util\CountryCode"/>
    <preference for="Netresearch\ShippingCore\Api\Util\DeliveryAreaInterface" type="Netresearch\ShippingCore\Model\Util\DeliveryArea"/>
    <preference for="Netresearch\ShippingCore\Api\Util\ItemAttributeReaderInterface" type="Netresearch\ShippingCore\Model\ItemAttribute\ItemAttributeReader"/>
    <preference for="Netresearch\ShippingCore\Api\Util\PdfCombinatorInterface" type="Netresearch\ShippingCore\Model\Util\PdfCombinator"/>
    <preference for="Netresearch\ShippingCore\Api\Util\UnitConverterInterface" type="Netresearch\ShippingCore\Model\Util\UnitConverter"/>
    <!-- # data interface preferences -->
    <preference for="Netresearch\ShippingCore\Api\Data\DeliveryLocation\AddressInterface" type="Netresearch\ShippingCore\Model\DeliveryLocation\Address"/>
    <preference for="Netresearch\ShippingCore\Api\Data\DeliveryLocation\LocationInterface" type="Netresearch\ShippingCore\Model\DeliveryLocation\Location"/>
    <preference for="Netresearch\ShippingCore\Api\Data\DeliveryLocation\OpeningHoursInterface" type="Netresearch\ShippingCore\Model\DeliveryLocation\OpeningHours"/>
    <preference for="Netresearch\ShippingCore\Api\Data\DeliveryLocation\TimeFrameInterface" type="Netresearch\ShippingCore\Model\DeliveryLocation\TimeFrame"/>
    <preference for="Netresearch\ShippingCore\Api\Data\OrderExport\KeyValueObjectInterface" type="Netresearch\ShippingCore\Model\OrderExport\Data\KeyValueObject"/>
    <preference for="Netresearch\ShippingCore\Api\Data\OrderExport\ServiceDataInterface" type="Netresearch\ShippingCore\Model\OrderExport\Data\ServiceData"/>
    <preference for="Netresearch\ShippingCore\Api\Data\OrderExport\ShippingOptionInterface" type="Netresearch\ShippingCore\Model\OrderExport\Data\ShippingOption"/>
    <preference for="Netresearch\ShippingCore\Api\Data\OrderItemAttributesInterface" type="Netresearch\ShippingCore\Model\ItemAttribute\OrderItemAttributes"/>
    <preference for="Netresearch\ShippingCore\Api\Data\PackagingPopup\RequestDataInterface" type="Netresearch\ShippingCore\Model\PackagingPopup\RequestData"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\ShipmentRequest\PackageAdditionalInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Data\PackageAdditional"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\ShipmentRequest\PackageInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Data\Package"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\ShipmentRequest\PackageItemInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Data\PackageItem"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\ShipmentRequest\RecipientInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Data\Recipient"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\ShipmentRequest\ShipperInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Data\Shipper"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\ShipmentResponse\LabelResponseInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentResponse\LabelResponse"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\ShipmentResponse\ShipmentErrorResponseInterface" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentResponse\ErrorResponse"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\TrackRequest\TrackRequestInterface" type="Netresearch\ShippingCore\Model\Pipeline\Track\TrackRequest\TrackRequest"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\TrackResponse\TrackErrorResponseInterface" type="Netresearch\ShippingCore\Model\Pipeline\Track\TrackResponse\TrackErrorResponse"/>
    <preference for="Netresearch\ShippingCore\Api\Data\Pipeline\TrackResponse\TrackResponseInterface" type="Netresearch\ShippingCore\Model\Pipeline\Track\TrackResponse\TrackResponse"/>
    <preference for="Netresearch\ShippingCore\Api\Data\RecipientStreetInterface" type="Netresearch\ShippingCore\Model\SplitAddress\RecipientStreet"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\ValueMap\InputValueInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\ValueMap\InputValue"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\ValueMapInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\ValueMap"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\CarrierDataInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\CarrierData"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\FootnoteInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\Footnote"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\MetadataInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\Metadata"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingDataInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\ShippingData"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOptionInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\ShippingOption"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\CommentInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\Comment"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\CompatibilityInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\Compatibility"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\InputInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\Input"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\ItemShippingOptionsInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\ItemShippingOptions"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\OptionInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\Option"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\RouteInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\Route"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\Selection\SelectionInterface" type="\Netresearch\ShippingCore\Model\ShippingSettings\Data\Selection\Selection"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\ValidationRuleInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\ValidationRule"/>
    <preference for="Netresearch\ShippingCore\Api\Data\ShippingSettings\ShippingOption\ItemCombinationRuleInterface" type="Netresearch\ShippingCore\Model\ShippingSettings\Data\ItemCombinationRule"/>

    <!-- # virtual types -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="joins" xsi:type="array">
                <item name="nrshipping_label_status" xsi:type="array">
                    <item name="table" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::TABLE_LABEL_STATUS</item>
                    <item name="origin_column" xsi:type="string">entity_id</item>
                    <item name="target_column" xsi:type="string">order_id</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="nrshipping_label_status" xsi:type="string">nrshipping_label_status.status_code</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Sales\Model\ResourceModel\Provider\NotSyncedOrderDataProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="nrshipping_label_status" xsi:type="string">Netresearch\ShippingCore\Model\ResourceModel\Provider\UpdatedStatusIdListProvider</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\BulkShipment\CollectionProcessor\Virtual" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="joins" xsi:type="object">Netresearch\ShippingCore\Model\LabelStatus\LabelStatusJoinProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\BulkShipment\OrderRepository\Virtual" type="Magento\Sales\Model\OrderRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Netresearch\ShippingCore\Model\BulkShipment\CollectionProcessor\Virtual</argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\Pipeline\BulkShipment\CreateLabelResponseProcessor\Virtual" type="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentResponseProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="addLabel" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Shipment\ResponseProcessor\AddShippingLabel</item>
                <item name="addTrack" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Shipment\ResponseProcessor\AddTrack</item>
                <item name="addComment" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Shipment\ResponseProcessor\AddShipmentComment</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\Pipeline\BulkShipment\CancelLabelResponseProcessor\Virtual" type="Netresearch\ShippingCore\Model\Pipeline\Track\TrackResponseProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="deleteTrack" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Track\ResponseProcessor\DeleteTrack</item>
                <item name="unsetLabel" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Track\ResponseProcessor\UnsetShippingLabel</item>
                <item name="updateLabelStatus" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Track\ResponseProcessor\UpdateLabelStatus</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\ShippingSettings\Checkout\ShippingDataProcessor\Virtual" type="Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\CompositeShippingDataProcessor">
        <arguments>
            <argument name="carrierDataProcessors" xsi:type="array">
                <item name="convertRules" xsi:type="object" sortOrder="10">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\Carrier\CompatibilityPreProcessor</item>
            </argument>
            <argument name="shippingOptionsProcessors" xsi:type="array">
                <item name="filterRoutes" xsi:type="object" sortOrder="10">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\RouteProcessor</item>
                <item name="applySortOrder" xsi:type="object" sortOrder="20">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\SortOrderProcessor</item>
            </argument>
            <argument name="metadataProcessors" xsi:type="array">
                <item name="updateImageUrl" xsi:type="object" sortOrder="10">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\Metadata\ImageUrlProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\ShippingSettings\Checkout\ShippingSettingsProcessor\Virtual" type="Netresearch\ShippingCore\Model\ShippingSettings\ArrayProcessor\CompositeShippingSettingsProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="removeUnavailableOptions" xsi:type="object" sortOrder="10">Netresearch\ShippingCore\Model\ShippingSettings\ArrayProcessor\ShippingOptionAvailabilityProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\ShippingSettings\Packaging\ShippingDataProcessor\Virtual" type="Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\CompositeShippingDataProcessor">
        <arguments>
            <argument name="carrierDataProcessors" xsi:type="array">
                <item name="convertRules" xsi:type="object" sortOrder="10">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\Carrier\CompatibilityPreProcessor</item>
                <item name="applyRules" xsi:type="object" sortOrder="20">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\Carrier\CompatibilityEnforcer</item>
            </argument>
            <argument name="shippingOptionsProcessors" xsi:type="array">
                <item name="extendRoutesForCustomsOptions" xsi:type="object" sortOrder="10">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\ExtendCustomsOptionsRoutesProcessor</item>
                <item name="filterRoutes" xsi:type="object" sortOrder="11">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\RouteProcessor</item>
                <item name="removeConsumerServices" xsi:type="object" sortOrder="20">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\RemoveUnusedConsumerServicesProcessor</item>
                <item name="addDeliveryLocationInputs" xsi:type="object" sortOrder="30">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\DeliveryLocationInputsProcessor</item>
                <item name="processInputs" xsi:type="object" sortOrder="40">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\InputDataProcessor</item>
                <item name="processContainerInput" xsi:type="object" sortOrder="50">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\ContainerInputDataProcessor</item>
                <item name="applyServiceSelections" xsi:type="object" sortOrder="60">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\ApplyServiceSelectionsProcessor</item>
                <item name="parseCodTemplate" xsi:type="object" sortOrder="70">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\CodReasonForPaymentProcessor</item>
                <item name="setServiceEnabled" xsi:type="object" sortOrder="80">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\SetServiceEnabledProcessor</item>
                <item name="applySortOrder" xsi:type="object" sortOrder="90">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ShippingOptions\SortOrderProcessor</item>
            </argument>
            <argument name="itemShippingOptionsProcessors" xsi:type="array">
                <item name="extendRoutesForCustomsOptions" xsi:type="object" sortOrder="10">\Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ItemShippingOptions\ExtendCustomsOptionsRoutesProcessor</item>
                <item name="filterRoutes" xsi:type="object" sortOrder="11">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ItemShippingOptions\RouteProcessor</item>
                <item name="processInputs" xsi:type="object" sortOrder="20">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\ItemShippingOptions\InputDataProcessor</item>
            </argument>
            <argument name="metadataProcessors" xsi:type="array">
                <item name="updateImageUrl" xsi:type="object" sortOrder="20">Netresearch\ShippingCore\Model\ShippingSettings\TypeProcessor\Metadata\ImageUrlProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\Model\ShippingSettings\Packaging\ShippingSettingsProcessor\Virtual" type="Netresearch\ShippingCore\Model\ShippingSettings\ArrayProcessor\CompositeShippingSettingsProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filterCarriers" xsi:type="object" sortOrder="10">Netresearch\ShippingCore\Model\ShippingSettings\ArrayProcessor\FilterCarriersProcessor</item>
                <item name="cloneItemTemplates" xsi:type="object" sortOrder="20">Netresearch\ShippingCore\Model\ShippingSettings\ArrayProcessor\PrepareItemOptionsProcessor</item>
                <item name="setDefaultConfigValues" xsi:type="object" sortOrder="30">Netresearch\ShippingCore\Model\ShippingSettings\ArrayProcessor\DefaultConfigValueProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\QuoteTableNameIterator\Virtual" type="Magento\Framework\ForeignKey\Migration\TableNameArrayIterator">
        <arguments>
            <argument name="tableNames" xsi:type="array">
                <item name="nrshipping_quote_address_shipping_option_selection" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::TABLE_QUOTE_SHIPPING_OPTION_SELECTION</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingCore\SalesTableNameIterator\Virtual" type="Magento\Framework\ForeignKey\Migration\TableNameArrayIterator">
        <arguments>
            <argument name="tableNames" xsi:type="array">
                <item name="nrshipping_label_status" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::TABLE_LABEL_STATUS</item>
                <item name="nrshipping_order_address_shipping_option_selection" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::TABLE_ORDER_SHIPPING_OPTION_SELECTION</item>
                <item name="nrshipping_order_item_attribute" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::TABLE_ORDER_ITEM</item>
                <item name="nrshipping_recipient_street" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::TABLE_RECIPIENT_STREET</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- # argument di overrides -->
    <type name="Magento\ScalableCheckout\Console\Command\SplitQuote">
        <arguments>
            <argument name="tableIterators" xsi:type="array">
                <item name="nrshippingQuoteTableNameIterator" xsi:type="object">Netresearch\ShippingCore\QuoteTableNameIterator\Virtual</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ScalableOms\Console\Command\SplitSales">
        <arguments>
            <argument name="tableIterators" xsi:type="array">
                <item name="nrshippingSalesTableNameIterator" xsi:type="object">Netresearch\ShippingCore\SalesTableNameIterator\Virtual</item>
            </argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Cron\AutoCreate\OrderCollectionLoader">
        <arguments>
            <argument name="orderRepository" xsi:type="object">Netresearch\ShippingCore\Model\BulkShipment\OrderRepository\Virtual</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\BulkShipment\OrderCollectionLoader">
        <arguments>
            <argument name="orderRepository" xsi:type="object">Netresearch\ShippingCore\Model\BulkShipment\OrderRepository\Virtual</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\AdditionalFee\Total">
        <arguments>
            <argument name="taxHelper" xsi:type="object">Magento\Tax\Helper\Data\Proxy</argument>
            <argument name="taxCalculation" xsi:type="object">Magento\Tax\Api\TaxCalculationInterface\Proxy</argument>
            <argument name="taxConfig" xsi:type="object">Netresearch\ShippingCore\Api\AdditionalFee\TaxConfigInterface\Proxy</argument>
            <argument name="totalsManager" xsi:type="object">Netresearch\ShippingCore\Model\AdditionalFee\TotalsManager\Proxy</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\LabelStatus\LabelStatusManagement">
        <arguments>
            <argument name="orderGrid" xsi:type="object">Magento\Sales\Model\ResourceModel\Order\Grid</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Validator\CompositeValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="noReturnShipment" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentRequest\Validator\NoReturnValidator</item>
            </argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\Pipeline\Shipment\ShipmentResponseProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="updateLabelStatus" xsi:type="object">Netresearch\ShippingCore\Model\Pipeline\Shipment\ResponseProcessor\UpdateLabelStatus</item>
            </argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ResourceModel\LabelStatus">
        <arguments>
            <argument name="connectionName" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ResourceModel\Order\Address\ShippingOptionSelection">
        <arguments>
            <argument name="connectionName" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ResourceModel\OrderItemAttributes">
        <arguments>
            <argument name="connectionName" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ResourceModel\Quote\Address\ShippingOptionSelection">
        <arguments>
            <argument name="connectionName" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::CHECKOUT_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ResourceModel\RecipientStreet">
        <arguments>
            <argument name="connectionName" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ShipmentDate\ShipmentDateCalculator">
        <arguments>
            <argument name="dayValidators" xsi:type="array">
                <item name="noHoliday" xsi:type="object">Netresearch\ShippingCore\Model\ShipmentDate\Validator\ExcludeHolidays</item>
            </argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ShippingSettings\CheckoutDataProvider">
        <arguments>
            <argument name="reader" xsi:type="object">Netresearch\ShippingCore\Model\ShippingSettings\Config\Reader</argument>
            <argument name="shippingSettingsProcessor" xsi:type="object">Netresearch\ShippingCore\Model\ShippingSettings\Checkout\ShippingSettingsProcessor\Virtual</argument>
            <argument name="shippingDataProcessor" xsi:type="object">Netresearch\ShippingCore\Model\ShippingSettings\Checkout\ShippingDataProcessor\Virtual</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ShippingSettings\Config\Reader">
        <arguments>
            <argument xsi:type="object" name="fileResolver">Netresearch\ShippingCore\Model\ShippingSettings\Config\FileResolver</argument>
            <argument xsi:type="object" name="schemaLocator">Netresearch\ShippingCore\Model\ShippingSettings\Config\SchemaLocator</argument>
            <argument xsi:type="object" name="converter">Netresearch\ShippingCore\Model\ShippingSettings\Config\Converter</argument>
            <argument xsi:type="string" name="fileName">shipping_settings.xml</argument>
            <argument xsi:type="array" name="idAttributes">
                <item xsi:type="string" name="/carriers/carrier">code</item>
                <item xsi:type="string" name="/carriers/carrier/packageOptions/shippingOption">code</item>
                <item xsi:type="string" name="/carriers/carrier/packageOptions/shippingOption/inputs/input">code</item>
                <item xsi:type="string" name="/carriers/carrier/packageOptions/shippingOption/inputs/input/options/option">id</item>
                <item xsi:type="string" name="/carriers/carrier/packageOptions/shippingOption/inputs/input/validationRules/rule">name</item>
                <item xsi:type="string" name="/carriers/carrier/itemOptions/shippingOption">code</item>
                <item xsi:type="string" name="/carriers/carrier/itemOptions/shippingOption/inputs/input">code</item>
                <item xsi:type="string" name="/carriers/carrier/itemOptions/shippingOption/inputs/input/options/option">id</item>
                <item xsi:type="string" name="/carriers/carrier/itemOptions/shippingOption/inputs/input/validationRules/rule">name</item>
                <item xsi:type="string" name="/carriers/carrier/serviceOptions/shippingOption">code</item>
                <item xsi:type="string" name="/carriers/carrier/serviceOptions/shippingOption/inputs/input">code</item>
                <item xsi:type="string" name="/carriers/carrier/serviceOptions/shippingOption/inputs/input/options/option">id</item>
                <item xsi:type="string" name="/carriers/carrier/serviceOptions/shippingOption/inputs/input/validationRules/rule">name</item>
                <item xsi:type="string" name="/carriers/carrier/metadata/footnotes/footnote">id</item>
                <item xsi:type="string" name="/carriers/carrier/compatibilityData/rule">id</item>
            </argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Model\ShippingSettings\PackagingDataProvider">
        <arguments>
            <argument name="reader" xsi:type="object">Netresearch\ShippingCore\Model\ShippingSettings\Config\Reader</argument>
            <argument name="shippingSettingsProcessor" xsi:type="object">Netresearch\ShippingCore\Model\ShippingSettings\Packaging\ShippingSettingsProcessor\Virtual</argument>
            <argument name="shippingDataProcessor" xsi:type="object">Netresearch\ShippingCore\Model\ShippingSettings\Packaging\ShippingDataProcessor\Virtual</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingCore\Setup\Patch\Data\Migration\LabelStatus">
        <arguments>
            <argument name="orderGrid" xsi:type="object">Magento\Sales\Model\ResourceModel\Order\Grid</argument>
        </arguments>
    </type>

    <!-- # interceptor plugins -->
    <type name="Magento\Eav\Model\Entity\Attribute\Backend\AbstractBackend">
        <plugin name="nrShippingValidateHsCodeAttribute" type="Netresearch\ShippingCore\Plugin\Eav\Attribute\Backend\ValidateHsCodeAttribute"/>
        <plugin name="nrShippingValidateExportDescriptionAttribute" type="Netresearch\ShippingCore\Plugin\Eav\Attribute\Backend\ValidateExportDescriptionAttribute"/>
    </type>
    <type name="Magento\Quote\Api\CartTotalRepositoryInterface">
        <plugin name="nrShippingUpdateAdditionalFeeTotalsSegment" type="Netresearch\ShippingCore\Plugin\AdditionalFee\Quote\AddTotalSegmentExtensionAttributes"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="nrShippingAddOrderItemExtensionAttributes" type="Netresearch\ShippingCore\Plugin\Quote\Item\AttributesToOrderItem"/>
    </type>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="nrShippingAddTotalsAsExtensionAttributes" type="Netresearch\ShippingCore\Plugin\AdditionalFee\Creditmemo\AddTotalsAsExtensionAttributes"/>
    </type>
    <type name="Magento\Sales\Api\InvoiceRepositoryInterface">
        <plugin name="nrShippingAddTotalsAsExtensionAttributes" type="Netresearch\ShippingCore\Plugin\AdditionalFee\Invoice\AddTotalsAsExtensionAttributes"/>
    </type>
    <type name="Magento\Sales\Api\OrderAddressRepositoryInterface">
        <plugin name="nrShippingAddSplitAddressAsExtensionAttributes" type="Netresearch\ShippingCore\Plugin\Order\AddRecipientStreetToAddress"/>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="nrShippingPersistOrderItemExtensionAttributes" type="Netresearch\ShippingCore\Plugin\Order\PersistOrderItemAttributes"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="nrShippingAddTotalsAsExtensionAttributes" type="Netresearch\ShippingCore\Plugin\AdditionalFee\Order\AddTotalsAsExtensionAttributes"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Address\Collection">
        <plugin name="nrShippingAddSplitAddressAsExtensionAttributes" type="Netresearch\ShippingCore\Plugin\Order\AddRecipientStreetToAddressCollection"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Item\Collection">
        <plugin name="nrShippingFixAmbiguousFilterField" type="Netresearch\ShippingCore\Plugin\Order\AddItemIdFilterMapping"/>
    </type>
    <type name="Magento\Tax\Helper\Data">
        <plugin name="nrShippingAddAdditionalFeeTax" type="Netresearch\ShippingCore\Plugin\AdditionalFee\Tax\AddFeeTaxAmounts"/>
    </type>
    <type name="Magento\Tax\Model\Calculation\AbstractCalculator">
        <plugin name="nrShippingFixAdditionalFeeTax" type="Netresearch\ShippingCore\Plugin\AdditionalFee\Tax\FixTaxItemDetailAmounts"/>
    </type>
</config>
