<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Netresearch\ShippingCore\Api\ReturnShipment\CanCreateReturnInterface" type="Netresearch\ShippingCore\Model\ReturnShipment\CanCreateAdminReturn"/>

    <type name="Magento\Shipping\Block\Adminhtml\View">
        <plugin name="addShipmentCancelButton" type="Netresearch\ShippingCore\Plugin\Adminhtml\Shipping\Block\View\AddShipmentCancelButton"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="addReturnCreateButton" type="Netresearch\ShippingCore\Plugin\Adminhtml\Shipping\Block\View\AddReturnCreateButton"/>
    </type>
    <type name="Magento\Framework\Data\Form\Element\Fieldset">
        <plugin name="addCarrierLogosToConfigGroup" type="Netresearch\ShippingCore\Plugin\Adminhtml\Config\Form\AddCarrierLogosToGroup"/>
    </type>
</config>
