<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping">
            <group id="parcel_processing" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="1000" translate="label">
                <label>Parcel Processing</label>

                <!-- Cash On Delivery Payment Methods -->
                <field id="cod_methods" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10"
                       translate="label comment" type="multiselect">
                    <label>Cash On Delivery Payment Methods</label>
                    <comment>Selected payment methods will be treated as CoD methods when booking a shipment label.</comment>
                    <source_model>Magento\Payment\Model\Config\Source\Allmethods</source_model>
                    <frontend_class>w-75</frontend_class>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="cod_reason_for_payment" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="45" translate="label comment">
                    <label>Cash on Delivery Reason for Payment</label>
                    <comment><![CDATA[The money transfer purpose for cash on delivery payments can include the following placeholders: {{entity_id}}, {{increment_id}}, {{firstname}}, {{lastname}}. They will be replaced by the respective order's values.]]></comment>
                </field>

                <!-- Cut-off Time -->
                <field id="cut_off_time" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20"
                       translate="label comment" type="time">
                    <label>Order Cut-off Time</label>
                    <comment>All orders that are placed after the configured time are assumed to be handed over to the respective carrier on the next business day. All orders that are placed before that time are expected to be handed over to the respective carrier on the same day. Value is interpreted as in the timezone configured for the current website</comment>
                    <source_model>Magento\Config\Model\Config\Source\Date\Short</source_model>
                </field>

                <field id="packages" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30"
                       translate="label comment" type="select">
                    <label>Packages</label>
                    <comment>Use this to create your own types of packages with your specific titles, sizes and tare weights.</comment>
                    <frontend_model>Netresearch\ShippingCore\Block\Adminhtml\System\Config\Form\Field\PackageParamsArray</frontend_model>
                    <backend_model>Netresearch\ShippingCore\Model\Config\Backend\PackageParams</backend_model>
                </field>

            </group>
        </section>
    </system>
</config>
